# Secretos de Cloudflare para Traefik DNS Challenge
CF_API_EMAIL=tu-email@ejemplo.com
CF_API_KEY=tu-api-key-de-cloudflare

# O usando CF_DNS_API_TOKEN (recomendado)
# CF_DNS_API_TOKEN=tu-token-dns-de-cloudflare
