# Configuración común para todos los stacks

# Rutas base del proyecto
# Rutas base del proyecto
PROJECT_ROOT=~/home-server
DATA_ROOT=${PROJECT_ROOT}/data

# Variables dinámicas (generadas automáticamente por stack):
# - STACK_NAME: nombre del stack actual
# - STACK_DATA: ruta relativa a la carpeta de datos del stack (../../data/{stack})

# Configuración de red está directamente en docker-compose.yml

# Usuarios SSH
GITHUB_SSH_USERS=<tu-usuario-github> <otro-usuario-github>

# Dominio base para todos los servicios
BASE_DOMAIN=tu-dominio.com
