# Configuración común para todos los stacks
TZ=Europe/Madrid
PUID=1000
PGID=1000

# Rutas base del proyecto
PROJECT_ROOT=~/home-server
DATA_ROOT=${PROJECT_ROOT}/data

# Red Docker
NETWORK_SUBNET=172.20.0.0/16
PROXY_NETWORK=proxy

# Usuarios SSH
GITHUB_SSH_USERS=<tu-usuario-github> <otro-usuario-github>

# Dominio base para todos los servicios
BASE_DOMAIN=tu-dominio.com
